*{
 padding: 0;
 margin: 0;
}
body{
 background:linear-gradient(to bottom, hsl(273, 75%, 66%),hsl(240, 73%, 65%));
 background-size: cover;
 background-size: contain;
 background-repeat: no-repeat;
 background-attachment: fixed;
}
.card{
 display: grid;
 grid-template-columns: 0.8fr 1fr;
 grid-gap: 20px;
 width: 921px;
 height: 512px;
 background: white;
 border-radius: 20px;
 margin: 10% auto;
}
.content{
  padding-right: 60px;
}
.arrow{
  margin-top: -80px;
}
.question{
 margin-top: 20px;
 display: grid;
 grid-template-columns: 80fr 0.8fr;
 grid-gap: 20px;
 
}

.text h1{
 font-size: 16px;
 font-weight: 100;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
 border: none;
 background: transparent;
}
.hidden{
  margin-top: 20px;
 display: none;
}

hr{
 margin-top: 20px;
 margin-left: 0;
 margin-bottom: 10px;
}

img{
  position: relative;
  top: 80px;
  left: -40px;
}

.header{
 margin-top: 60px;
 margin-bottom: 50px;
}
.arrow p{
 /* color: black; */
}

.show .hidden{
  display:flex;
}
.rotate .arrow img{
  transform: rotate(180deg);
}
.bold .text h1{
  font-weight: 700;
}
.text h1:hover{
  color: goldenrod;
  cursor: pointer;
}
.text p{
  font-weight: 30;
}

@media screen and (max-width:576px){
  *{
    padding: 0;
    margin: 0;
  }
  body{
    min-height: 780px;
    overflow: visible;
  }
  .card{
    margin-top: 100px;
    display: block;
    width: 420px;
    height: 660px;
    /* overflow: hidden; */
    border-radius: 30px;
    padding-right: 0px;
  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-right: 10px;
    padding-left: 20px;
    margin-right: -10px;
  }
  .img {
    width:200px;
    top: -90px;
    left: 25%;
    /* background: red; */
  
  }
  .header{
    font-size: 30px;
    margin-top: -20px;
  }
  .arrow{
    margin-right: 0;
  }
  .question{
    grid-gap: 100;
  }
  .text{
    word-spacing: -2px;
  }
  
}
    

